
/* .heaer-cart{
    position: relative;
}

.header-cart .content-section {
    position: absolute;
    width: 700px;
    top: 100px;
    right: 0;
    z-index: 20;
    background-color: #fff;
    padding-top: 10px;
    box-shadow: 0 0 10px 0 #ccc;
    border: 1px solid #5f9cdd;
} */
#modal{
    position:fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: baseline;
    
}

.modal{
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.modal-active{
    opacity: 1;
    visibility: visible;
}

#modal .content-section{
    max-width: 800px;
    margin: 100px auto 100px auto;
    background-color: #fff;
    padding-top: 10px;
    box-shadow: 0 0 10px 0 #ccc;
    border: 1px solid #5f9cdd;
}



.content-section .nav-tabs{
    border-bottom: 1px solid #ea5f46;
}

.content-section .nav-tabs .nav-item button{
    color: #EE4D2D;
    padding: 0.75rem 5rem;
}

.content-section .nav-tabs .nav-link.active{
    border-color: #ea5f46 #ea5f46 #fff #ea5f46;
}

.cart-header{
    font-size: 8px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 30px;
}

.cart-row{
    display: flex;
    margin: 0 20px;
}

.cart-row .cart-header{
    color:#FF9300
}

.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: 16px;
    margin-right: 28px;
    padding-bottom: 15px;
    margin-top: 15px;
    color: #333;
}

.cart-item{
    width: 45%;
}

.cart-item-image{
    width: 100px;
    height:auto;
}

.cart-item-title{
    font-size: 14px;
    padding-left: 10px;
}

.cart-price{
    width: 20%;
}

.cart-quantity {
    width: 35%;
}

.cart-items .cart-row .btn-danger {
    color: white;
    font-size: 15px;
    background-color: #EB5757;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    margin-right: 35px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 20px;
    margin-right: 20px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 24px;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 16px;
}

#modal .btn-cart {
    display: block;
    margin: 20px auto 40px auto;
    font-size: 22px ;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

/* phần thông tin khách hàng */

.cart-form{
    padding: 10px 24px
}

.cart-title{
    font-size: 18px;
    font-weight:bold;
}

.cart-form .form-vocative{
    padding: 15px 0;
}

.cart-form .form-vocative .radio{
    margin-right: 20px;
    font-size: 16px;
}

.cart-form .form-vocative input{
    margin-right: 5px;
    cursor: pointer;
}

.cart-form .form-vocative label{
    font-size: 16px;
}

.cart-form .form-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cart-form .form-info .box-input{
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}

.cart-form .form-info .box-input .title{
    display: block;
    margin-bottom: 5px;
    font-size:16px;
    font-weight:500;

}

.cart-form .form-info .box-input input{
    height:40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding-left: 10px;
    transition: all 0.3s ease;
}

.cart-form .form-info .box-input input:focus,
.cart-form .form-info .box-input input:valid{
    border-color: #9b59b6;
}

.cart-form .cart-note{
    padding: 5px 8px;
    font-size: 16px;
    width: 100%;
    height:60px
}

/* phần hình thức thanh toán */
.cart-form .cart-pay .radio{
    margin-bottom: 8px;
}

.cart-form .radio label{
    cursor: pointer;
}

.radio input:checked+label{
    font-weight: 500;
    color: #9b59b6;
}

.have-items{
    display: none;
}

.no-item{
    font-size: 18px;
    text-align: center;
    padding: 20px 20px;
    display: none;
}

.cart-active{
    display: block;
}

.nav-tabs{
    position: relative;
}

.btn-close{
    position: absolute;
    right: 15px;
    top: 2px;
    font-size:16px;

}